In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('clean_calls.csv')

In [46]:
df.head()

         lat        lng           zip            timeStamp  Fire  Traffic
0  40.297876 -75.581294  19525.000000  2015-12-10 17:40:00     0        0
1  40.258061 -75.264680  19446.000000  2015-12-10 17:40:00     0        0
2  40.121182 -75.351975  19401.000000  2015-12-10 17:40:00     1        0
3  40.116153 -75.343513  19401.000000  2015-12-10 17:40:01     0        0
4  40.251492 -75.603350  19237.658298  2015-12-10 17:40:01     0        0

In [47]:
#timeStamp to datetime
df['timeStamp'] = df['timeStamp'].apply(pd.to_datetime)

In [48]:
#Make some new columns based off of hour,month,dayofweek
df['Hour'] = df['timeStamp'].apply(lambda dtime: dtime.hour)
df['Month'] = df['timeStamp'].apply(lambda dtime: dtime.month)
df['DayofWeek'] = df['timeStamp'].apply(lambda dtime: dtime.dayofweek)

In [49]:
df.head()

,lat,lng,zip,timeStamp,Fire,Traffic,Hour,Month,DayofWeek
0,40.297876,-75.581294,19525.000000,2015-12-10 17:40:00,0,0,17,12,3
1,40.258061,-75.264680,19446.000000,2015-12-10 17:40:00,0,0,17,12,3
2,40.121182,-75.351975,19401.000000,2015-12-10 17:40:00,1,0,17,12,3
3,40.116153,-75.343513,19401.000000,2015-12-10 17:40:01,0,0,17,12,3
4,40.251492,-75.603350,19237.658298,2015-12-10 17:40:01,0,0,17,12,3

In [50]:
#Make a dictionary to convert dayofweek into names of days of the week

daynames = {
    0:'Mon',
    1:'Tue',
    2:'Wed',
    3:'Thur',
    4:'Fri',
    5:'Sat',
    6:'Sun'
}

In [51]:
df['DayName'] = df['DayofWeek'].map(daynames)

In [52]:
df.head()

,lat,lng,zip,timeStamp,Fire,Traffic,Hour,Month,DayofWeek,DayName
0,40.297876,-75.581294,19525.000000,2015-12-10 17:40:00,0,0,17,12,3,Thur
1,40.258061,-75.264680,19446.000000,2015-12-10 17:40:00,0,0,17,12,3,Thur
2,40.121182,-75.351975,19401.000000,2015-12-10 17:40:00,1,0,17,12,3,Thur
3,40.116153,-75.343513,19401.000000,2015-12-10 17:40:01,0,0,17,12,3,Thur
4,40.251492,-75.603350,19237.658298,2015-12-10 17:40:01,0,0,17,12,3,Thur

In [53]:
#see that the 7days of the week are all inclusive

df['DayName'].nunique()

7